html { 
  background: url('https://cdn.glitch.com/d4069a78-4ea7-458a-9b0b-f1c9f84ca62a%2F1453317011636.jpg?1506294568379') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#main {
  color: white;
  background-color: #222222;
  text-align:center;
  border-radius: 20px;
  width: 520px;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  padding: 5px;
  padding-bottom:20px;
  box-shadow: 3px 3px 1px #000000;
}

button {
  background-color: #000000;
  border-color: #111111;
  color: white;
}

input {
  background-color: #333333;
  border-color: #111111;
  color: #888888
}

.message{
    color:yellow
}
